body{
    background-color: lightblue;
    font-family: sans-serif;

    margin: 0;

}
a{
    text-decoration: none;
    color: black;
}
header{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: coral;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
    border: 1px solid black;
    font-weight: 600;
    padding-right: 10px;
    float: right;
    align-self: stretch;
}
nav a:hover{
    justify-content: flex-end;
    color: white;
}

#navegacion {
    position: relative;
    justify-content: flex-end;

}